{% extends "base.html" %}

{% block content %}
{% for vote in votes%}
<div class="row">
  <div class="col-md4 border border-secondary rounded-pill mt-4 p-5">
    <h3>{{vote.title}}</h3>
    <div>
      <h6>{{vote.description}}</h6>
      <img src="{{vote.icon}}" alt="">
    </div>
    <p>
      Начало: {{vote.formatted_start}} <br> До: {{vote.formatted_stop}}
    </p>
    {% if current_user.is_authenticated and current_user == vote.author %}
    <div>
      <a href="/vote_hide/{{ vote.id }}" class="btn" style="background-color: #9ACD32">
        Скрыть
      </a>
      <a href="/vote_delete/{{ vote.id }}" class="btn btn-warning">
        Удалить
      </a>
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endblock %}