{% extends "forms_base.html" %}

{% block content %}
<center><h1>Регистрация</h1></center>
<div class="img-blur" style="width: 50%; float:right">
    <img class="img-fluid" src="static/imgs/hero-section.png" width="100%">
</div>
<div style="width: 50%; float:left">
<form action="" method="post" class="text-white">
    <input id="csrf_token" name="csrf_token" type="hidden" value="Ijg5Y2ZhMzcxMGI0N2Y4YWI1YjNlNDkyMjNjYjU1MzBhZjljMTBjYTki.YmtZxg.5mWGqZFJgdZlLFGylg5fkKPIMZ0">
    <p>
        <label for="email">Email</label><br>
        <input class="form-control" id="email" name="email" required="" type="email" value=""><br>

    </p>
    <p>
        <label for="password">Пароль</label><br>
        <input class="form-control" id="password" name="password" required="" type="password" value=""><br>

    </p>
    <p>
        <label for="password_again">Повторите пароль</label><br>
        <input class="form-control" id="password_again" name="password_again" required="" type="password" value=""><br>

    </p>
    <p>
        <label for="role">Вы...</label><br>


                <input id="role-0" name="role" required="" type="radio" value="1">
                <label for="role-0">Ученик</label>



                <input id="role-1" name="role" required="" type="radio" value="2">
                <label for="role-1">Родитель</label>



    </p>
    <p><input class="btn" id="submit" name="submit" style="background-color: #9ACD32" type="submit" value="Зарегистрироваться"></p>

</form>
</div>
{% endblock %}